header{
	background-color: white;
	padding:0;
}
body
{
	color: #204820;
	background-color: white;
	font-family: 'Open Sans', serif;
	font-weight: 300;
}
.bs-docs-sidebar
{
	margin-top: 20px;
	margin-bottom: 20px;
}
.bs-docs-sidebar .nav>li>a {
    border-left: 2px solid transparent;
    padding: 4px 20px;
    font-size: 1.1em;
    font-weight: 400;
}
/* nested links */
.bs-docs-sidebar .nav .nav>li>a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 0.9em;
}
/* active & hover links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>li>a:hover, 
.bs-docs-sidebar .nav>li>a:focus {
    color:#a41326 ;                 
    text-decoration: none;          
    background-color: transparent;  
    border-left-color:#a41326 ; 
}
/* all active links */
.bs-docs-sidebar .nav>.active>a, 
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.bs-docs-sidebar .nav .nav>.active>a, 
.bs-docs-sidebar .nav .nav>.active:hover>a,
.bs-docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

/* hide inactive nested list */
.bs-docs-sidebar .nav ul.nav {
    display: none;           
}
/* show active nested list */
.bs-docs-sidebar .nav>.active>ul.nav {
    display: block;           
}
.copy-btn img
{
	width: 18px;
	height: 18px;
}
.copy-btn
{
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #E5E5E5;
	background-color: #F1F1F1;
	position: absolute;
	top: 0px;
	right: 0px;
}
.copy-btn:focus
{
	outline: none;
}
.copy-btn:hover
{
	background-color: #E0E0E0;
}


.affix{
    top: 20px;
}
.container .jumbotron
{
	padding: 0;
	background-color: transparent;
}
#side-bar
{
	background: #f8f8f8; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, #f8f8f8, white); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #f8f8f8, white); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, #f8f8f8, white); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, #f8f8f8, white); /* Standard syntax */
}

.doc-content h1
{
	padding-top: 10px;
	font-size: 2.2em;
	padding-bottom: 10px;
	font-weight: 600;
}
.doc-content h2
{
	font-size: 1.9em;
	font-weight: 400;
	padding-bottom: 10px;

}

.doc-content ul
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
	font-weight: 400;
	line-height: 150%;
}
.doc-content li
{
	padding-bottom: 10px;
}

.doc-content p
{
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 150%;
}

.code
{
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #F1F1F1;
	font-size: 1.3em;
	color: #2a7b2a;
	border-radius: 10px;
	position: relative;
}
span.code
{
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1em;
	border-radius: 5px;
}
#side-bar h1
{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.3em;
	border-bottom: 1px solid #44B78B; 
}
#side-bar h2
{
	padding-top: 5px;
	font-size: 1em;
}
#main-content
{
	background-color: white;
}
#main-content
{
	border-bottom: 1px solid gray;
}
#subpage,#info-page
{
	color: white;
	background-color: #84C785;
	font-size: 2em;
	padding-top: 15px;
	padding-bottom: 15px;
}
#info-page h1
{
	text-align: left;	
	font-size: 0.7em;
}
#info-page p 
{
	text-align: left;	
	font-size: 0.5em;
}
#banner
{
	font-family: 'Open Sans', serif;
	font-weight: 300;
	font-size: 2.1em;
	padding-top: 50px;
	text-align: center;
}
#header-nav
{
	background-color: #44B78B;
	border-radius: 0;
	border: 0;
	margin-bottom: 0;
}
#brand-meta
{
	color: #0C4B33;
	font-size: 0.85em;
	font-weight: 400;
	margin-top: 20px;
}
.brand-origin
{
	color: #a41326;
	font-weight: bold;
}
#nav-list
{
	margin-right:10px;
	margin-top:15px;
	font-weight: 600;
}

#nav-list a
{
	text-transform: uppercase;
	color: #0C4B33;
	text-align: center;
}

#button-start
{
	font-size:1.4em; width: 250px;
	background-color:#44B78B;
	border: none;
	padding-top: 12px;
	padding-bottom: 12px;
}
.doc-content a:hover
{
	color: #a41326;
}

.doc-content a,#side-bar a 
{
	color: #2a7b2a;
}
#info-page a
{
	color: white;
}
#info-page img
{
	float: left;
	margin-right: 5px;
	height: 16px;
	width: 16px;
}
#button-start:hover
{
	background-color: #7dcfaf;
}
#nav-list a:hover
{
	color: #a41326;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar
{
	border: 1px solid #0C4B33;
}
.navbar-header button.navbar-toggle
{
	clear: both;
}

#copyright
{
	float: left;
}

footer img
{
   display: block;
   margin: auto auto;
}
footer a:hover
{
	color: #a41326;
}
.footer-btn
{
	float: right;
	color: #204820;
}
footer
{

	background-color: #44B78B;
	border: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.9em;
	font-weight: 500;
}

/*super large screen*/
@media (min-width: 1450px)
{ .container
	{width: 1420px;}
	#logo-img
	{
		background: url('../icon/cnelab_large.png') no-repeat;
		background-size: 100px 81px;
		width: 100px;
		height: 81px;
		margin: 15px 15px 10px 0;
	}
	.container #banner-img{
		background: url('../images/jumbotron.png') no-repeat;
		background-size: 850px 628px;
		height: 628px;
		background-position: 270px 15px;
	}
	#brand-meta
	{
		font-size: 0.9em;
	}
	#nav-list 
	{
		font-size: 1.1em;
	}
	#nav-list a span
	{
		font-size: 1.9em;
	}
}
@media (min-width: 1200px) and (max-width: 1449px)
{
	#logo-img
	{
		background: url('../icon/cnelab_large.png') no-repeat;
		background-size: 100px 81px;
		width: 100px;
		height: 81px;
		margin: 15px 15px 10px 0;
	}
	.container #banner-img{
		background: url('../images/jumbotron.png') no-repeat;
		background-size: 850px 628px;
		height: 628px;
		background-position: 145px 15px;
	}
	#brand-meta
	{
		font-size: 0.8em;
	}
	#nav-list 
	{
		font-size: 1em;
	}
	#nav-list a span
	{
		font-size: 1.8em;
	}
	#side-bar>*
	{
		padding-left: 20px;
	}
}

/*median device*/
@media (min-width: 992px) and (max-width: 1199px)
{
	#logo-img{
		background: url('../icon/cnelab.png') no-repeat;
		background-size: 80px 65px;
		width: 80px;
		height: 65px;
		margin: 15px 15px 10px 0;
	}
	.container #banner-img{
		background: url('../images/jumbotron.png') no-repeat;
		background-size: 850px 628px;
		height: 628px;
		background-position: 45px 15px;
	}
	#brand-meta
	{
		font-size: 0.7em;
		margin-top: 15px;
	}
	#nav-list 
	{
		font-size: 0.9em;
	}
	#nav-list a span
	{
		font-size: 1.7em;
	}
	#side-bar>*
	{
		padding-left: 20px;
	}
}
/*small device*/
@media (min-width: 768px) and (max-width: 991px)
{

	#logo-img{
		background: url('../icon/cnelab.png') no-repeat;
		background-size: 80px 65px;
		width: 80px;
		height: 65px;
		margin: 15px 15px 10px 0;
	}
	#nav-list 
	{
		font-size: 0.9em;
	}
	#nav-list a span
	{
		font-size: 1.7em;
	}
}
/*extra small device*/
@media (max-width: 767px)
{
	#logo-img{
		background: url('../icon/cnelab.png') no-repeat;
		background-size: 80px 65px;
		width: 80px;
		height: 65px;
		margin: 15px 15px 0 10px;
	}
	#collapsable-nav a
	{
		font-size: 1.2em;
		text-align: left;
	}
	#collapsable-nav a span
	{
		font-size: 1em;
		margin-right: 10px;
	}
	#brand-meta
	{
		font-size: 0.7em;
		margin-top: 10px;
		margin-left: -20px;
	}
}


